@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
   /* Firefox */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scrollbar-width: auto;
      scrollbar-color: #5f1e00 #0d0d0d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }

  *::-webkit-scrollbar-track {
      background: #0d0d0d;
  }

  *::-webkit-scrollbar-thumb {
      background-color: #5f1e00;
      border-radius: 25px;
  }

  *::-webkit-scrollbar-thumb:hover {
      background-color: #5f1e00;
  }